{% extends 'main/base.html' %}

{% block content %}

<div class="view-post">

    <div class="view-header">
        <div id="view-title">{{ post.title }}</div> <!-- Заголовок -->
        <div id="view-creator">Создатель: {{ post.creator }}</div> <!-- Создатель -->
        <div id="view-time">{{ post.time_create }}</div> <!-- Дата создания -->
    </div>

    <div class="view-text">
        {{ post.long }}
    </div>
</div>

<!-- ---------- -->
<a href="#top" id="go-top-text">Наверх</a>

{% endblock content %}